.buorg {
position: fixed;
z-index: 111111;
width: 100%;
top: 0;
left: 0;
border-bottom: 1px solid #a29330;
text-align: center;
color: #000;
background-color: #fff8ea;
font: 18px Calibri, Helvetica, sans-serif;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
animation: buorgfly 1s ease-out 0s;
}

.buorg-hidden {
display: none;
opacity: 0;
visibility: hidden;
}

.buorg-clickable {
cursor: pointer;
}

.buorg-shift-page-down {
margin-top: 45px;
}

.buorg-pad {
padding: 9px;
line-height: 1.7em;
}

.buorg-buttons {
display: block;
text-align: center;
}

#buorgig, #buorgul, #buorgpermanent {
color: #fff;
text-decoration: none;
cursor: pointer;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
padding: 1px 10px;
border-radius: 4px;
font-weight: normal;
background: #5ab400;
white-space: nowrap;
margin: 0 2px;
display: inline-block;
}

#buorgig {
background-color: #edbc68;
}

.buorg-icon {
width: 22px;
height: 16px;
vertical-align: middle;
position: relative;
top: -0.05em;
display: inline-block;
background: none;
}

.buorg-legacy {
text-align: left;
cursor: pointer;
font: 13px Arial, sans-serif;
}

.buorg-legacy div {
padding: 5px 36px 5px 40px;
}

.buorg-legacy > div > a, .buorg-legacy > div > a:visited {
color: #e25600;
text-decoration: underline;
}

#buorgclose {
position: absolute;
right: 6px;
top: 0;
height: 20px;
width: 12px;
font: 18px bold;
padding: 0;
}

#buorga {
display: block;
}

.buorg-bottom {
bottom: 0;
top: auto;
border-top: 1px solid #a29330;
border-bottom: 0;
}

.buorg-corner {
text-align: left;
width: 300px;
top: 50px;
right: 50px;
left: auto;
border: 1px solid #a29330;
}

.buorg-corner .buorg-buttons, .buorg-corner .buorg-mainmsg, .buorg-corner .buorg-moremsg {
display: block;
}

.buorg-corner .buorg-buttons a {
margin: 4px 2px;
}

.buorg-corner .buorg-icon {
display: none;
}

.buorg-rtl {
direction: rtl;
unicode-bidi: embed;
}

.buorg-fadeout {
transition: visibility 0s 8.5s, opacity 8s ease-out 0.5s;
}

.buorg-test {
position: absolute;
width: 220px;
top: 5px;
right: 10px;
text-align: left;
color: #000;
background-color: #ff93a8;
font-size: 10px;
padding: 5px;
line-height: 1;
}

.buorg-test-bottom {
top: auto;
bottom: 5px;
}

.buorg-test-corner {
top: auto;
bottom: -100px;
}

.buorg-test div {
padding: 0;
line-height: 1;
}

@media only screen and (max-width: 700px) {
.buorg .buorg-pad {
padding: 5px 12px 5px 9px;
line-height: 1.3em;
}

.buorg-legacy div {
padding: 5px 15px 5px 9px;
}
}

@keyframes buorgfly {
from {
opacity: 0;
transform: translateY(-50px);
}

to {
opacity: 1;
transform: translateY(0);
}
}

.buorg-bottom {
animation-name: buorgflybottom;
}

@keyframes buorgflybottom {
from {
opacity: 0;
transform: translateY(50px);
}

to {
opacity: 1;
transform: translateY(0);
}
}
